@media all and (max-width: 1690px) { 

}
@media all and (max-width: 1280px) { 

    .logo {
        width: 95px;
        height: 30px;
    }

    #intro-background {
        height: 500px;
    }

    #section-1 {
        height: 500px;
    }

}

@media all and (max-width: 980px) {

    .logo {
        height: 25px;
        width: 25px;
        left: 10px;
        background-image:url(../img/logo-mobile.svg);
    }

    .logo:hover {
        background-image:url(../img/logo-mobile-hover.svg);
    }

    #intro-background {
        height: 380px;
    }

    #section-1 {
        height: 380px;
    }

}

/* extra breakpoint for text */

@media all and (max-width: 830px) {

    .central {
        width: calc(100% - 30px);
    }

}

@media all and (max-width: 736px) {

    #scroll-graphic .small {
        position: absolute;
    }

    .text-section p {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
    }


    p {
        font-weight: 300;
        font-size: 15px;
        line-height: 27px;
    }

    .first-par {
        font-size: 18px;
        line-height: 32px;
    }

    h2 {
        font-size: 22px;
    }

    h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #intro-background {
        height: 250px;
    }

    #section-1 {
        height: 250px;
    }

    #linkedin {
        display: none;
    }

}

/* extra breakpoint for timeline */

@media all and (max-width: 580px) {

    #chart-container {
        display: none;
    }

    #chart-placeholder {
        display: none;
    }

}

@media all and (max-width: 480px) { 

    #intro-background {
        height: 200px;
    }

    #section-1 {
        height: 200px;
    }

}

/* extra breakpoint for intro video */

@media all and (max-width: 380px) {

    #intro-background {
        height: 150px;
    }

    #section-1 {
        height: 150px;
    }

}