@media all and (min-width: 1500px) { 

    .large {
        -ms-flex: 3 0 0;
        -webkit-flex: 3 0 0;
        flex: 3 0 0;
    }
    
    .small {
        -ms-flex: 1 0 0;
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
    }

}

@media all and (max-width: 1280px) {


    .logo {
        width: 95px;
        height: 30px;
    }

    #intro-background {
        height: 450px;
    }

    #section-1 {
        height: 500px;
    }

    h2 {
        font-size: 26px;
    }

    .text-section p {
        font-size: 15.5px;
        line-height: 27px;
    }

}

@media all and (max-width: 980px) {

    #scroll-graphic .small {
        position: absolute;
    }

    #text-container {
        margin: 20px;
        right: 0px;
        max-width: 450px;
    }

    .text-section p {
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.9);
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 15px;
        line-height: 26px;
    }

    .info p {
        font-size: 14px;
        line-height: 22px;
    }

    .info i {
        font-size: 20px;
    }

    #chart-container {
        visibility: hidden;
    }

    #chart-placeholder {
        display: none;
    }

    .logo {
        height: 25px;
        width: 25px;
        left: 5px;
    }

    #logo-desktop {
        display: none;
    }

    #logo-mobile {
        display: inline;
    }

    #intro-background {
        height: 380px;
    }

    #section-1 {
        height: 380px;
    }

    .algae {
        width: 7px;
        height: 7px;
        top: -7px;
        left: -7px;
    }

    .fish1 {
        width: 50px;
        height: 33px;
    }
    
    .fish2 {
        width: 65px;
        height: 27px;
    }
    
    .fish3 {
        width: 60px;
        height: 39px;
    }

    figure {
        margin: 15px;
    }

    .hospital {
        display: none;
    }

}

/* extra breakpoint for text */

@media all and (max-width: 830px) {

    .central {
        width: calc(100% - 30px);
    }

}

/* el nino */

@media screen and (min-width: 450px) and (max-width: 800px) {
    #nino-wrapper {
        width: 470px;
        height: 1240px;
        margin-bottom: 10px;
    }

    #ai2html {
        margin-top: 5px;
    }

}

@media all and (max-width: 736px) {

    #text-container {
        margin: 15px;
    }

    .text-section p {
        padding: 0.6em;
        font-size: 14px;
        line-height: 25px;
    }

    p {
        font-weight: 300;
        font-size: 15px;
        line-height: 27px;
    }

    figcaption {
        font-size: 13px;
    }

    .long-quote {
        margin-left: 1.2em;
        padding-left: 0.8em;
        font-weight: 300;
        font-size: 14.5px;
        line-height: 23px;
    }

    .first-par {
        font-size: 18px;
        line-height: 32px;
    }

    h2 {
        font-size: 22px;
        margin: 1em;
    }

    h1 {
        font-size: 28px;
        line-height: 36px;
    }

    h3 {
        font-size: 12px;
    }

    .list-group-item {
        font-size: 11px;
        line-height: 20px;
    }

    .colour-key {
        width: 10px;
        height: 10px;
    }

    #intro-background {
        height: 250px;
    }

    #section-1 {
        height: 250px;
    }

    #linkedin {
        display: none;
    }

    .algae {
        width: 6px;
        height: 6px;
        top: -6px;
        left: -6px;
    }

    .fish1 {
        width: 40px;
        height: 26.5px;
    }
    
    .fish2 {
        width: 55px;
        height: 23px;
    }
    
    .fish3 {
        width: 50px;
        height: 32.5px;
    }

    .youtube {
        height: 380px;
    }

}

/* el nino */

@media screen and (max-width: 449px) {
    #nino-wrapper {
        width: 340px;
        height: 870px;
        margin-bottom: 6px;
    }

}

@media all and (max-width: 480px) { 

    .text-section p {
        /* padding: 8px; */
        font-size: 12.5px;
        line-height: 19px;
    }

    #intro-background {
        height: 200px;
    }

    #section-1 {
        height: 200px;
    }

    .title-highlight {
        padding: 3px;
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 11.5px;
    }

    .youtube {
        height: 300px;
    }

}

/* extra breakpoint for intro video */

@media all and (max-width: 380px) {

    #intro-background {
        height: 150px;
    }

    #section-1 {
        height: 150px;
    }

}