h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    color: #333333;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    color: #333333;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

p {
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
    color: #333333;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #333333;
    /* text-decoration: underline;
    text-decoration-color: #FF6F61; */
    /* second option */
    text-decoration: none;
    border-bottom: 1.2px solid #FF6F61;
}

a:hover {
    color: #FF6F61;
}

a:visited {
    color: #333333;
}

body {
    margin: 0;
}

.central {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
}

.large {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

.small {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

#text-container {
    margin: 40px;
}

#text-container h2 {
    text-align: center;
}

#map-container {
    height: 3200px;
}

#map {
    width: 100%;
    height: 800px;
    margin: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.text-section {
    opacity: 0.2;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-section p {
    font-size: 16px;
    line-height: 28px;
}

.year-highlight {
    margin: 10px;
    padding: 5px;
    color: #FF6F61;
    border: 2px solid #FF6F61;
    -moz-box-shadow:    4px 4px 0px 0px #FF6F61;
    -webkit-box-shadow: 4px 4px 0px 0px #FF6F61;
    box-shadow:         4px 4px 0px 0px #FF6F61;
}

.padding-section {
    height: 200px;
}

.padding-section-top {
    height: 200px;
}

#chart-wrapper {
    /* fixed width so don't have issues with pointer alignment */
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #cecece;
    -moz-box-shadow:    4px 4px 0px 0px #cecece;
    -webkit-box-shadow: 4px 4px 0px 0px #cecece;
    box-shadow:         4px 4px 0px 0px #cecece;
}

#chart {
    height: inherit;
    z-index: 999999;
}

#chart-placeholder {
    height: 200px;
}

#chart-container {
    position: absolute;
    /*  adjust dynamicaly via code depending on the height of the containers above */
    top: 500px;
    height: 3320px;
    width: 830px;
    margin-left: calc((100% - 830px)/2);
}

#chart-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.axis text {
    color: #333333;
    font-family: "PT Sans", Arial, sans-serif;
}

.axis line {
    stroke: #333333;
}

.axis path {
    stroke: #333333;
}

#triangle {
    stroke: #FF6F61;
    stroke-width: 1;
    fill: #FF6F61;
    opacity: 0;
}

.bar {
    stroke: #FFFFFF;
    stroke-width: 0.5;
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9000;
    height: 45px;
    width: 150px;
    background-image:url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.logo:hover {
    opacity: 1;
}

.share-icons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9000;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
}

.share-icons .fa-stack {
    opacity: 0.4;
}

.share-icons .fa-stack:hover {
    opacity: 1;
}