h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    color: #333333;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    color: #333333;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

p {
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
    color: #333333;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #2f8fce;
    text-decoration: none;
}

body {
    margin: 0;
}

.wrapper {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
}

.large {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

.small {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

.column {
    
}

#image-container {
    height: 2400px;
}

#map {
    width: calc(100% - 40px);
    height: 800px;
    margin: auto;
    background-image: url("/img/Test-map-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    position: -webkit-sticky;
    top: calc((100% - 800px)/2);
}

.text-section {
    opacity: 0;
}

.padding-section {
    height: 20%;
}

#chart {
    /* fixed width so don't have issues with pointer alignment */
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#chart-container {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
}

#triangle {
    stroke: #C7432B;
    stroke-width: 1;
    fill: #C7432B;
    opacity: 0;
}

.bar {
    stroke: white;
    stroke-width: 0.5;
}