h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    color: #333333;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.title-highlight {
    background-color: rgba(255, 110, 97, 0.8);
    padding: 5px;
    color: white;
}

#title{
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    color: #333333;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    margin: 0em;
}

#chart h3 {
    margin-bottom: 0.5em;
}

p {
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
    color: #333333;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.first-par {
    font-size: 28px;
    line-height: 44px;
}

.long-quote {
    margin-left: 2em;
    padding-left: 1em;
    border-left: 3px solid #FA7268;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 32px;
}

.pullquote {
    font-style: italic;
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

a {
    color: #333333;
    /* text-decoration: underline;
    text-decoration-color: #FA7268; */
    /* second option */
    text-decoration: none;
    border-bottom: 1.2px solid #FA7268;
}

a:hover {
    color: #FA7268;
}

body {
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.central {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.full-width {
    width: 100%;
}

.figure-wrapper {
    margin-right: auto;
    margin-left: auto;
}

.row {
    /* order important so don't override new syntax with old */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.large {
    -ms-flex: 2 0 0;
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

.small {
    -ms-flex: 1 0 0;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

.photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figcaption {
    font-family: "PT Sans", sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

figure {
    margin-top: 30px;
    margin-bottom: 30px;
}

#text-container {
    margin: 40px;
    z-index: 6;
}

#text-container h2 {
    text-align: center;
}

#map-container {
    height: 3200px;
    z-index: 4;
}

#map {
    width: 100%;
    height: 800px;
    margin: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.text-section {
    opacity: 0.2;
}

.text-section p {
    font-size: 16px;
    line-height: 28px;
}

.year-highlight {
    margin: 10px;
    padding: 5px;
    color: #FA7268;
    background-color: #FFFFFF;
    border: 2px solid #FA7268;
    -moz-box-shadow:    4px 4px 0px 0px #FA7268;
    -webkit-box-shadow: 4px 4px 0px 0px #FA7268;
    box-shadow:         4px 4px 0px 0px #FA7268;
}

.padding-section {
    height: 200px;
}

.padding-section-top {
    height: 200px;
}

#chart-wrapper {
    /* fixed width so don't have issues with pointer alignment */
    width: 320px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #C0C9C9;
    -moz-box-shadow:    4px 4px 0px 0px #C0C9C9;
    -webkit-box-shadow: 4px 4px 0px 0px #C0C9C9;
    box-shadow:         4px 4px 0px 0px #C0C9C9;
}

#chart {
    height: inherit;
    z-index: 999999;
    position: relative;
}

#chart-placeholder {
    height: 200px;
}

#chart-container {
    z-index: 5;
    position: absolute;
    /*  adjust dynamicaly via code depending on the height of the containers above */
    top: 500px;
    height: 3320px;
    width: 340px;
    margin-left: calc((100% - 340px)/2);
}

#chart-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-key {
    padding: 2px;
    border-radius: 4px;
    background-color: #FA7268;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
}

.text-key a {
    border-bottom: none;
    color: #FFFFFF;
}

.text-key:hover {
    background-color: rgba(250, 114, 104, 0.6);
}

.axis text {
    color: #333333;
    font-family: "PT Sans", Arial, sans-serif;
}

.axis line {
    stroke: #333333;
}

.axis path {
    stroke: #333333;
}

#triangle {
    stroke: #FA7268;
    stroke-width: 1;
    fill: #FA7268;
    opacity: 0;
}

#rect-1 {
    stroke: #FA7268;
    fill: #FA7268;
}

#rect-2 {
    fill: white;
    stroke: #FA7268;
}

#tooltip text {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    fill: #FA7268;
}

.bar {
    stroke: #FFFFFF;
    stroke-width: 0.5;
}

.logo {
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 9000;
    height: 35px;
    width: 110px;
    opacity: 0.4;
    fill:#333333;
}

#logo-mobile {
    display: none;
}

.logo:hover {
    fill: #FA7268;
    opacity: 1;
}

.share-icons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9000;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    padding-top: 0px;
}

.share-icons .fa-stack {
    opacity: 0.4;
}

.share-icons .fa-stack:hover {
    opacity: 1;
}

.mapboxgl-popup {
    max-width: 150px;
}

.mapboxgl-popup-content {
    text-align: center;
}

#map-key {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 99999;
}

.colour-key {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    margin-right: 3px;
}

ul {
    list-style-type: none;
}

#list-group {
    padding: 0px;
    margin: 0px;
}

.list-group-item {
    font-family: "PT Sans", Georgia, sans-serif;
    font-size: 13px;
    line-height: 22px;
}

#intro-background {
    position: absolute;
    width: 100%;
    height: 550px;
    z-index: -5;
    overflow: hidden;
}

#intro-vid {
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    max-width: 105%;
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
}

#section-1 {
    height: 550px;
}

/* el nino graphic */

#nino-wrapper {
    width: 820px;
    height: 870px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#ai2html {
    width: inherit;
    height: inherit;
    display: block;
    margin: 0;
    overflow: hidden !important;
}

#download {
    /* background-color: rgba(0, 0, 0, 0.4); */
    padding: 0px;
    text-align: left;
    width: 80px;
    margin-left: 10px;
}

#download p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "PT Sans",arial, sans-serif;
    font-size: 14px;
    display: inline-block;
}

#download-wrapper {
    display: inline-block;
    height: 40px;
    width: 100%;
}

#nino-logo {
    width: 30px;
    height: 30px;
    opacity: 0.4;
}

.nino-info {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

/* bleaching animation */

.bleaching {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* to stop scroll animation flickering in Safari */
    -webkit-transform-style: preserve-3d;
    width: calc(100% - 40px);
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #C0C9C9;
    -moz-box-shadow:    4px 4px 0px 0px #C0C9C9;
    -webkit-box-shadow: 4px 4px 0px 0px #C0C9C9;
    box-shadow:         4px 4px 0px 0px #C0C9C9;
    overflow: hidden;
}

.algae {
    background: #f1938c; 
    position: absolute;
    pointer-events: none;
    margin: 4px;
    display: inline-block;
    top: -8px;
    left: -8px;
    opacity: 0.8;
    border-radius: 5px;
    width: 8px;
    height: 8px;
    visibility: hidden;
}

.animation {
    position: absolute;
    top: 0px;
    left: 0px;
}

.fish1 {
    width: 60px;
    height: 40px;
}

.fish2 {
    width: 80px;
    height: 33px;
}

.fish3 {
    width: 70px;
    height: 46px;
}

.rays {
    width: 100%;
    height: auto;
    transform: translateY(-60%);
}

.sun {
    width: 100%;
    height: 100%;
}

.st0{fill:url(#SVGID_1_);}
	.st1{fill:url(#SVGID_2_);}
	.st2{fill:url(#SVGID_3_);}
	.st3{fill:url(#SVGID_4_);}
	.st4{fill:url(#SVGID_5_);}
	.st5{fill:url(#SVGID_6_);}
	.st6{fill:url(#SVGID_7_);}
	.st7{fill:url(#SVGID_8_);}
	.st8{fill:url(#SVGID_9_);}
	.st9{fill:url(#SVGID_10_);}
	.st10{fill:url(#SVGID_11_);}
	.st11{fill:url(#SVGID_12_);}
	.st12{fill:url(#SVGID_13_);}
	.st13{fill:url(#SVGID_14_);}
	.st14{fill:url(#SVGID_15_);}
	.st15{fill:url(#SVGID_16_);}
	.st16{fill:url(#SVGID_17_);}
	.st17{fill:url(#SVGID_18_);}
	.st18{fill:url(#SVGID_19_);}
	.st19{fill:url(#SVGID_20_);}
	.st20{fill:url(#SVGID_21_);}
	.st21{fill:url(#SVGID_22_);}
	.st22{fill:url(#SVGID_23_);}
	.st23{fill:url(#SVGID_24_);}
	.st24{fill:url(#SVGID_25_);}
	.st25{fill:url(#SVGID_26_);}
	.st26{fill:url(#SVGID_27_);}
	.st27{fill:url(#SVGID_28_);}
	.st28{fill:url(#SVGID_29_);}
	.st29{fill:url(#SVGID_30_);}
	.st30{fill:url(#SVGID_31_);}
	.st31{fill:url(#SVGID_32_);}
	.st32{fill:url(#SVGID_33_);}
	.st33{fill:url(#SVGID_34_);}
	.st34{fill:url(#SVGID_35_);}
	.st35{fill:url(#SVGID_36_);}
	.st36{fill:url(#SVGID_37_);}
	.st37{fill:url(#SVGID_38_);}
	.st38{fill:url(#SVGID_39_);}
	.st39{fill:url(#SVGID_40_);}
	.st40{fill:url(#SVGID_41_);}
	.st41{fill:url(#SVGID_42_);}
	.st42{fill:url(#SVGID_43_);}
	.st43{fill:url(#SVGID_44_);}
	.st44{fill:url(#SVGID_45_);}
	.st45{fill:url(#SVGID_46_);}
	.st46{fill:url(#SVGID_47_);}
	.st47{fill:url(#SVGID_48_);}
	.st48{fill:url(#SVGID_49_);}
	.st49{fill:url(#SVGID_50_);}
	.st50{fill:url(#SVGID_51_);}
	.st51{fill:url(#SVGID_52_);}
	.st52{fill:url(#SVGID_53_);}
	.st53{fill:url(#SVGID_54_);}
	.st54{fill:url(#SVGID_55_);}
	.st55{fill:url(#SVGID_56_);}
	.st56{fill:url(#SVGID_57_);}
	.st57{fill:url(#SVGID_58_);}
	.st58{fill:url(#SVGID_59_);}
	.st59{fill:url(#SVGID_60_);}
	.st60{fill:url(#SVGID_61_);}
	.st61{fill:url(#SVGID_62_);}
	.st62{fill:url(#SVGID_63_);}
	.st63{fill:url(#SVGID_64_);}
	.st64{fill:url(#SVGID_65_);}
	.st65{fill:url(#SVGID_66_);}
	.st66{fill:url(#SVGID_67_);}
	.st67{fill:url(#SVGID_68_);}
	.st68{fill:url(#SVGID_69_);}
	.st69{fill:url(#SVGID_70_);}
	.st70{fill:url(#SVGID_71_);}
	.st71{fill:url(#SVGID_72_);}
	.st72{fill:url(#SVGID_73_);}
	.st73{fill:url(#SVGID_74_);}
	.st74{fill:url(#SVGID_75_);}
	.st75{fill:url(#SVGID_76_);}
	.st76{fill:url(#SVGID_77_);}
	.st77{fill:url(#SVGID_78_);}
	.st78{fill:url(#SVGID_79_);}
	.st79{fill:url(#SVGID_80_);}
	.st80{fill:url(#SVGID_81_);}
	.st81{fill:url(#SVGID_82_);}
	.st82{fill:url(#SVGID_83_);}
	.st83{fill:url(#SVGID_84_);}
	.st84{fill:url(#SVGID_85_);}
	.st85{fill:url(#SVGID_86_);}
	.st86{fill:url(#SVGID_87_);}
	.st87{fill:url(#SVGID_88_);}
	.st88{fill:url(#SVGID_89_);}
	.st89{fill:url(#SVGID_90_);}
	.st90{fill:url(#SVGID_91_);}
	.st91{fill:url(#SVGID_92_);}
	.st92{fill:url(#SVGID_93_);}
	.st93{fill:url(#SVGID_94_);}
	.st94{fill:url(#SVGID_95_);}
	.st95{fill:url(#SVGID_96_);}
	.st96{fill:url(#SVGID_97_);}
	.st97{fill:url(#SVGID_98_);}
	.st98{fill:url(#SVGID_99_);}
	.st99{fill:url(#SVGID_100_);}
	.st100{fill:url(#SVGID_101_);}
	.st101{fill:url(#SVGID_102_);}
	.st102{fill:url(#SVGID_103_);}
	.st103{fill:url(#SVGID_104_);}
	.st104{fill:url(#SVGID_105_);}
	.st105{fill:url(#SVGID_106_);}
	.st106{fill:url(#SVGID_107_);}
	.st107{fill:url(#SVGID_108_);}
	.st108{fill:url(#SVGID_109_);}
	.st109{fill:url(#SVGID_110_);}
	.st110{fill:url(#SVGID_111_);}
	.st111{fill:url(#SVGID_112_);}
	.st112{fill:url(#SVGID_113_);}
	.st113{fill:url(#SVGID_114_);}
	.st114{fill:url(#SVGID_115_);}
	.st115{fill:url(#SVGID_116_);}
	.st116{fill:url(#SVGID_117_);}
	.st117{fill:url(#SVGID_118_);}
	.st118{fill:url(#SVGID_119_);}
	.st119{fill:url(#SVGID_120_);}
	.st120{fill:url(#SVGID_121_);}
	.st121{fill:url(#SVGID_122_);}
	.st122{fill:url(#SVGID_123_);}
	.st123{fill:url(#SVGID_124_);}
	.st124{fill:url(#SVGID_125_);}
	.st125{fill:url(#SVGID_126_);}
	.st126{fill:url(#SVGID_127_);}
	.st127{fill:url(#SVGID_128_);}
	.st128{fill:url(#SVGID_129_);}
	.st129{fill:url(#SVGID_130_);}
	.st130{fill:url(#SVGID_131_);}
	.st131{fill:url(#SVGID_132_);}
	.st132{fill:url(#SVGID_133_);}
	.st133{fill:url(#SVGID_134_);}
	.st134{fill:url(#SVGID_135_);}
	.st135{fill:url(#SVGID_136_);}
	.st136{fill:url(#SVGID_137_);}
	.st137{fill:url(#SVGID_138_);}
	.st138{fill:url(#SVGID_139_);}
	.st139{fill:url(#SVGID_140_);}
	.st140{fill:url(#SVGID_141_);}
	.st141{fill:url(#SVGID_142_);}
	.st142{fill:url(#SVGID_143_);}
	.st143{fill:url(#SVGID_144_);}
	.st144{fill:url(#SVGID_145_);}
	.st145{fill:url(#SVGID_146_);}
	.st146{fill:url(#SVGID_147_);}
	.st147{fill:url(#SVGID_148_);}
	.st148{fill:url(#SVGID_149_);}
	.st149{fill:url(#SVGID_150_);}
	.st150{fill:url(#SVGID_151_);}
	.st151{fill:url(#SVGID_152_);}
	.st152{fill:url(#SVGID_153_);}
	.st153{fill:url(#SVGID_154_);}
	.st154{fill:url(#SVGID_155_);}
	.st155{fill:url(#SVGID_156_);}
	.st156{fill:url(#SVGID_157_);}
	.st157{fill:url(#SVGID_158_);}
	.st158{fill:url(#SVGID_159_);}
	.st159{fill:url(#SVGID_160_);}
	.st160{fill:url(#SVGID_161_);}
	.st161{fill:url(#SVGID_162_);}
	.st162{fill:url(#SVGID_163_);}
	.st163{fill:url(#SVGID_164_);}
	.st164{fill:url(#SVGID_165_);}
	.st165{fill:url(#SVGID_166_);}
	.st166{fill:url(#SVGID_167_);}
	.st167{fill:url(#SVGID_168_);}
	.st168{fill:url(#SVGID_169_);}
	.st169{fill:url(#SVGID_170_);}
	.st170{fill:url(#SVGID_171_);}
	.st171{fill:url(#SVGID_172_);}
	.st172{fill:url(#SVGID_173_);}
	.st173{fill:url(#SVGID_174_);}
	.st174{fill:url(#SVGID_175_);}
	.st175{fill:url(#SVGID_176_);}
	.st176{fill:url(#SVGID_177_);}
	.st177{fill:url(#SVGID_178_);}
	.st178{fill:url(#SVGID_179_);}
	.st179{fill:url(#SVGID_180_);}
	.st180{fill:url(#SVGID_181_);}
	.st181{fill:url(#SVGID_182_);}
	.st182{fill:#33A8CC;}
	.st183{fill:none;stroke:#F2F2F2;stroke-miterlimit:10; opacity: 0;}
	.st184{opacity:0.7;fill:#33A8CC;}
	.st185{opacity:0.8;fill:#33A8CC;}
	.st186{fill:url(#SVGID_183_);}
	.st187{fill:url(#SVGID_184_);}
	.st188{fill:url(#SVGID_185_);}
	.st189{fill:url(#SVGID_186_);}
	.st190{fill:url(#SVGID_187_);}
	.st191{fill:url(#SVGID_188_);}
	.st192{fill:url(#SVGID_189_);}
	.st193{fill:url(#SVGID_190_);}
	.st194{opacity:0.16;fill:#333333;}
	.st195{opacity:0.6;fill:#F4A7A2;}
	.st196{fill:#F4A7A2;}
	.st197{fill:#FAC883;}
	.st198{opacity:0.3;fill:#666666;}
	.st199{fill:#F4B3CE;}
	.st200{opacity:0.25;}
	.st201{fill:#666666;}
	.st202{fill:#FFEFA2;}
	.st204{opacity:0.55;fill:#F4A7A2;}
	.st205{fill:#DBC1F7;}
	.st208{fill:#C1EFF4;}
	.st209{fill:url(#SVGID_191_);}
    .st210{opacity:0.5;fill:url(#SVGID_192_);}
    
    /* fish */
    .st211{fill:#2d95b4;}
    .st212{opacity:0.7;fill:#2d95b4;}

    /* rays */
    /* ;enable-background:new    ; */
    .st213{opacity:0.5; fill:url(#SVGID_193_);}


/* clearfix for sticky elements */

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}


